<p id="notice"><%= notice %></p>

<p>
  <strong>Feature:</strong>
  <%= @address.feature_id %>
</p>

<p>
  <strong>Property:</strong>
  <%= @address.property_id %>
</p>

<p>
  <strong>Full address:</strong>
  <%= @address.full_address %>
</p>

<p>
  <strong>Lgasfile:</strong>
  <%= @address.lgasfile_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @address.postcode %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
