<p id="notice"><%= notice %></p>

<h1>Lgasfiles</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Long name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lgasfiles.each do |lgasfile| %>
      <tr>
        <td><%= lgasfile.code %></td>
        <td><%= lgasfile.name %></td>
        <td><%= lgasfile.long_name %></td>
        <td><%= link_to 'Show', lgasfile %></td>
        <td><%= link_to 'Edit', edit_lgasfile_path(lgasfile) %></td>
        <td><%= link_to 'Destroy', lgasfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lgasfile', new_lgasfile_path %>
